/*
HTML Template
v1.0
Last Updated: 2018-01-17
Author: Dan Stachlewski
*/

/* Headline Font: Montserrat | Paragraph Font: Lato */
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', Verdana, sans-serif;font-weight: bolder;line-height: 1.1;
}
/*
Browser Reset has body{font-size:100;}
The size can be calculated from pixels to em using this formula: pixels/16=em
Ref:
- https://www.w3schools.com/css/css_font.asp
- https://www.w3schools.com/tags/ref_pxtoemconversion.asp
*/

/* Reference: http://maxdesign.com.au/articles/relative/ */
h1{font-size: 2em;}
h2{font-size: 1.6em;}
h3{font-size: 1.4em;}
h4{font-size: 1.2em;}
h5{font-size: 1em;}
h6{font-size: 0.9em;}

p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
    font-family: 'Lato', Arial, sans-serif;
}

p{line-height: 1.5;}

/* Custom Project CSS; */

/* Define Variables for the Root Element */
/* Tutorial Ref: https://www.youtube.com/watch?v=sQUB039MG0I&t=298s */
:root{
    --main-bg-color:#f4f4f4;
    --main-txt-color:#333;
    --container-width: 90%;
    --header-bg-color:#333;
    --header-txt-color:#fff;
}

body{
    backgorund: var(--main-bg-color);
    color: var(--main-txt-color);
}
.container{
    width: var(--container-width);
    margin:20px auto;
}
header#main-header{
    background: var(--header-bg-color);
    color: var(--header-txt-color);
}
header#main-header h1{
    padding: 0.5em;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Need to use the calc option to calculate specific widths etc */
    --gap: 20;
    grid-gap: calc(var(--gap) * 1px);
    align-items: center;

}
/* Defining SCOPE VARIABLES - VARIABLES FOR CERTAIN ELEMENTS ONLY; */
/* Defining Box Variables */
.box{
    /* These will only work in the box class & nowehere else */
    --box-bg-color:#ddd;
    --box-main-color:#06c;
    --box-padding: 1em;

    /* Box Shadow Vars */
    --box-shadow-h-offset: 10px;
    --box-shadow-v-offset: 5px;
    --box-shadow-blur: 5px;
}
.box{
    background: var(--box-bg-color);
    padding: var(--box-padding);
    border: 1px solid var(--box-main-color);
    box-shadow:
    var(--box-shadow-h-offset)
    var(--box-shadow-v-offset)
    var(--box-shadow-blur)
    var(--box-main-color);
}
.box h1{
    /* This var will only work in the .box class */
    color: var(--box-main-color);
}
